.header {
  background-color: #282c34;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}
